:root {
  --bg-color: #2b2a30;
  --default-color: #00aa51;
  --timer-color: #00aa51;
  --edit-color: #f8f7fe;
  --stop-color: #f8d84a;
  --finish-color: #900a0a;
  --button-color: #585858;
  --gradient-text-color: linear-gradient(to bottom, #fff, #d5d8e1);
}

@font-face {
  font-family: "Bebas Neue";
  src:
    url("fonts/bebasneue.woff2"),
    url("fonts/bebasneue.woff");
  font-display: swap;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
